---
import IconStar from "~/assets/icons/star.svg";
import Layout from "~/components/Base.astro";
import Button from "~/components/Button.astro";
import Browser from "~/components/home/BrowserUI.astro";
import ComparisonTable from "~/components/home/ComparisonTable.astro";
import FeatureCard from "~/components/home/FeatureCard.astro";
import Illustration from "~/components/home/Illustrations.astro";
import Section from "~/components/home/Section.astro";
import Water from "~/components/home/Water.astro";
import { type Key, strings } from "~/strings";
---

<script>
	// Imports
	import { isAndroid, isLinux, isMacOS, isWindows } from 'get-os-name'
	import { latestLinks } from '~/config'

	const elements = document.querySelectorAll('[id*="download"]')
	const isOSNameWindows = isWindows()
	const isOSNameMacOS = isMacOS()
	const isOSNameLinux = isLinux()
	const isOSNameAndroid = isAndroid()

	elements.forEach((el) => {
		if (isOSNameMacOS) {
			el.setAttribute('href', latestLinks.macOS())
		} else if (isOSNameWindows) {
			el.setAttribute('href', latestLinks.windows())
		} else if (isOSNameLinux) {
			el.setAttribute('href', latestLinks.linux())
		} else if (isOSNameAndroid) {
			el.setAttribute(
				'href',
				'https://play.google.com/store/apps/details?id=net.waterfox.android.release'
			)
		}
	})
</script>

<Layout
	bgColor="crystal"
	class="w-full font-body font-light leading-relaxed text-deepsea"
	{...Astro.props}
>
	<!-- Home header -->
	<div
		slot="header"
		class="mt-4 flex w-full flex-col items-center gap-8 overflow-hidden px-6 lg:mt-20 lg:gap-12 lg:pb-48"
	>
		<!-- Background Water -->
		<Water class="z-0 bg-crystal dark:bg-deepsea" bubbleQty={12} />

		<!-- Heading -->
		<div
			class="tailwind-preflight z-10 flex w-full flex-col items-center justify-center gap-5 text-center"
		>
			<h1 class="text-balance font-montserrat text-4xl font-bold lg:text-5xl">
				{strings[`home.title`]}
			</h1>
			<p class="text-balance font-montserrat text-lg font-normal">{strings[`home.subtitle`]}</p>
			<Button id="download-header">Download</Button>
		</div>

		<!-- Browser View -->
		<div class="relative z-10 mx-auto block w-full max-w-[1276px] overflow-visible md:px-8">
			<Browser
				locales={{
					mobileImageAlt: strings[`browser.mobileImageAlt`],
					tab: strings[`browser.tab`],
					searchbar: strings[`browser.searchbar`],
					import: strings[`browser.import`],
					search: strings[`browser.search`],
					cta: strings[`browser.cta`]
				}}
			/>
		</div>
	</div>

	<!-- Features -->
	<Section>
		<div class="mx-auto grid grid-cols-1 gap-7 lg:grid-cols-2 lg:gap-14">
			{
				['trackers', 'privatemode', 'containertabs', 'switching', 'data'].map((feature) => (
					<FeatureCard
						title={strings[`feature.${feature}.title`] as Key}
						content={strings[`feature.${feature}.content`] as Key}
						alt={strings[`alt.illustration` as Key]}
						illustration={feature}
						cols={feature === 'data' ? 2 : 1}
					/>
				))
			}
		</div>

		<Button id="download-features">Download</Button>
	</Section>

	<Section color="deepsea">
		<!-- Comparison table -->
		<div class="flex w-full flex-col items-center gap-8 lg:gap-12">
			<h2
				class="text-center font-montserrat text-4xl font-bold leading-tight text-white dark:text-[var(--sl-color-text)] lg:text-5xl"
			>
				{strings[`comparison.title`]}
			</h2>

			<div>
				<ComparisonTable
					locales={{
						included: strings[`comparison.included`],
						excluded: strings[`comparison.excluded`]
					}}
					features={{
						[strings[`comparison.1`]]: {
							waterfox: true,
							chrome: false,
							edge: false,
							safari: false
						},
						[strings[`comparison.2`]]: {
							waterfox: true,
							chrome: false,
							edge: false,
							safari: true
						},
						[strings[`comparison.3`]]: {
							waterfox: true,
							chrome: false,
							edge: false,
							safari: false
						},
						[strings[`comparison.4`]]: {
							waterfox: true,
							chrome: false,
							edge: false,
							safari: false
						},
						[strings[`comparison.5`]]: {
							waterfox: true,
							chrome: false,
							edge: false,
							safari: false
						}
					}}
				/>
			</div>
		</div>

		<!-- Reviews -->
		<div class="flex w-full flex-col items-center gap-8 lg:gap-12">
			<h2
				class="font-montserrat text-4xl font-bold leading-tight text-white dark:text-[var(--sl-color-text)] lg:text-5xl"
			>
				{strings[`reviews.title`]}
			</h2>

			<div class="mx-auto grid max-w-6xl grid-cols-1 gap-7 lg:grid-cols-3 lg:gap-14">
				{
					Array.from({ length: 3 }, (_, i) => i + 1).map((review) => (
						<div class="group/review rounded-[1.5rem] bg-white px-12 py-8 shadow-lg transition-all duration-200 dark:bg-slate-800 max-lg:max-w-[32rem] md:hover:scale-105 md:hover:shadow-2xl">
							<div class="flex flex-col gap-6">
								<div class="flex items-center justify-center gap-1">
									{Array.from(Array(strings[`review.${review}.stars` as Key]).keys()).map((n) => (
									<img src={IconStar.src} class=" text-gold transition-colors md:group-hover/review:text-sand h-[16px] w-[16px]" style={`transition-delay:${40 + n * 20}ms;`} alt="Star Icon" />
									))}
								</div>
								<p
									class="text-balance text-center"
									set:html={`"${strings[`review.${review}.content` as Key]}"`}
								/>
							</div>
						</div>
					))
				}
			</div>
		</div>
	</Section>

	<!-- Download -->
	<Section
		class="grid grid-cols-[auto] gap-4 after:absolute after:left-1/2 after:top-full after:block after:h-[3px] after:w-[calc(100%-4rem)] after:max-w-7xl after:-translate-x-1/2 after:bg-indigo after:bg-gradient-to-r after:from-indigo after:via-indigo after:to-mist after:content-[''] lg:grid-cols-[1.1fr_0.9fr] lg:gap-12"
	>
		<div class="mx-auto h-full w-full max-w-[38rem] max-lg:max-w-[32rem]">
			<Illustration file="surf" alt={strings[`alt.illustration` as Key]} width={800} height={600} />
		</div>
		<div
			class="flex h-full w-full flex-col items-center justify-center gap-6 max-lg:text-center lg:items-start"
		>
			<h2 class="text-balance font-montserrat text-4xl font-bold leading-tight lg:text-5xl">
				{strings[`surf.title`]}
			</h2>
			<div class="flex flex-col items-center gap-8 lg:items-start">
				<p class="text-balance text-lg" set:html={strings[`surf.content`]} />
				<Button id="download-download">Download</Button>
			</div>
		</div>
	</Section>

	<!-- Featured on -->
	<Section class="gap-6 lg:gap-12">
		<h2 class="font-montserrat text-4xl font-bold leading-tight lg:text-5xl">
			{strings[`featured.title`]}
		</h2>
		<div
			class="grid w-full max-w-6xl grid-cols-1 items-start gap-6 max-lg:text-center lg:grid-cols-3 lg:gap-12"
		>
			<div class="flex flex-col gap-8 py-4">
				<p class="grow text-lg" set:html={`"${strings[`featured.bestReviews`]}"`} />
				<div class="lg:mb-4">
					<img
						src="/images/best-reviews-logo.png"
						class="max-lg:mx-auto"
						width="211"
						height="46"
						alt={(strings[`alt.logo`], `Best Reviews`)}
					/>
				</div>
			</div>
			<div class="flex flex-col gap-8 py-4">
				<p class="grow text-balance text-lg" set:html={`"${strings[`featured.topNewReview`]}"`} />
				<div class="lg:mb-4">
					<img
						src="/images/top-new-review-logo.png"
						class="max-lg:mx-auto"
						width="178"
						height="45.5"
						alt={(strings[`alt.logo`], `Top New review`)}
					/>
				</div>
			</div>
			<div class="flex flex-col gap-8 py-4">
				<p class="grow text-lg" set:html={`"${strings[`featured.hostingAdvice`]}"`} />
				<div class="lg:mb-4">
					<img
						src="/images/hosting-advice-logo.png"
						class="max-lg:mx-auto"
						width="270"
						height="33"
						alt={(strings[`alt.logo`], `Hosting Advice`)}
					/>
				</div>
			</div>
		</div>
	</Section>

	<!-- Download -->
	<Section color="frost" padding="tight" class="grid lg:grid-cols-[0.9fr_1fr] lg:gap-6">
		<div class="mx-auto h-full w-full max-w-[40rem] max-lg:row-start-2 max-lg:max-w-[32rem]">
			<Illustration
				file="splash"
				alt={strings[`alt.illustration` as Key]}
				width={800}
				height={600}
			/>
		</div>
		<div
			class="flex h-full w-full flex-col items-center justify-center gap-8 max-lg:row-start-1 max-lg:-mb-8 max-lg:text-center lg:items-start lg:pb-24"
		>
			<h2
				class="font-montserrat text-4xl font-bold leading-tight lg:text-5xl"
				set:html={strings[`splash.title`]}
			/>
			<Button id="download-surf">Download</Button>
		</div>
	</Section>
</Layout>
